/* Button */

.button {
	background: #15130D;
	border: 3px solid #A59F84;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #A59F84;
	cursor: pointer;
	font: inherit;
	line-height: 1;
	padding: 1em;
	text-transform: uppercase;
}

.button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.button[disabled] {
	cursor: default;
	opacity: 0.5;
}

/* end of Button */