/* Contact */

.contact .body-block {
	padding: 8em 1em;
}

.contact .quote {
	font-family: 'RobotoSlab', sans-serif;
	font-size: 200%;
	letter-spacing: 0.1em;
	line-height: 1.6;
}

.contact .cols {
	table-layout: fixed;
}

.contact .col {
	vertical-align: top;
}

.contact-form .form-item + .form-item {
	margin-top: 1em;
}

.contact-form .form-item-01 .textarea {
	height: 300px;
}

.contact-form .button {
	width: 100%;
}

/* end of Contact */