<div class="body-group header" data-ng-include="'templates/header.html'"></div><!--body-group-->
<div class="body-group man man-404" data-ng-include="'templates/man.html'"></div><!--body-group-->
<div class="body-group page-404">
	<div class="body-section">
		<div class="body-block">
			<div class="cols">
				<div class="col col-01">
					<div class="text">Страница<br/>не найдена</div>
				</div><!--col-->
				<div class="col col-02">
					<div class="number">404</div>
				</div><!--col-->
			</div><!--cols-->
		</div><!--body-block-->
	</div><!--body-section-->
</div><!--body-group-->