<div class="body-group header header-bg active-about" data-ng-include="'templates/header.html'"></div><!--body-group-->
<div class="body-group about">
	<div class="body-section">
		<div class="body-block">
			<div class="about-members">
				<div class="about-member">
					<div class="last-name">Гольдин</div>
					<div class="first-name">Геннадий Глебович</div>
					<div class="position">Адвокат, Заведующий</div>
					<div class="cols">
						<div class="col col-01">
							<div class="summary">
								<p>Доктор политических наук, профессор, заведующий кафедрой международного права и публично-правовых дисциплин Российской академии адвокатуры и нотариата (РААН).</p>
								<p>Адвокатский стаж с 2001 года.</p>
							</div><!--summary-->
						</div><!--col-->
						<div class="col col-02"></div><!--col-->
					</div><!--cols-->
				</div><!--about-member-->
				<div class="about-member">
					<div class="last-name">Багаев</div>
					<div class="first-name">Илья Владимирович</div>
					<div class="position">Адвокат, Заместитель заведующего</div>
					<div class="cols">
						<div class="col col-01">
							<div class="summary">
								<p>Кандидат политических наук</p>
							</div><!--summary-->
						</div><!--col-->
						<div class="col col-02">
							<div class="skills">
								<ul class="items">
									<li class="item">Экономические, должностные, общеуголовные дела.</li>
									<li class="item">Защита предпринимателей.</li>
									<li class="item">Юридическое сопровождение деятельности предприятий и сделок с недвижимостью.</li>
								</ul>
							</div><!--skills-->
						</div><!--col-->
					</div><!--cols-->
				</div><!--about-member-->
				<div class="about-member">
					<div class="last-name">Антипенков</div>
					<div class="first-name">Александр Анатольевич</div>
					<div class="position">Адвокат</div>
					<div class="cols">
						<div class="col col-01">
							<div class="summary">
								<p>Адвокатский стаж с 2009 года</p>
								<p>Выпускник РААН</p>
							</div><!--summary-->
						</div><!--col-->
						<div class="col col-02">
							<div class="skills">
								<ul class="items">
									<li class="item">Специализация: арбитражные, семейные дела, корпоративные, экологические споры.</li>
									<li class="item">Юридическая помощь при лицензировании, в борьбе с рейдерскими захватами.</li>
								</ul>
							</div><!--skills-->
						</div><!--col-->
					</div><!--cols-->
				</div><!--about-member-->
				<div class="about-member">
					<div class="last-name">Домбровский</div>
					<div class="first-name">Юрий Евгеньевич</div>
					<div class="position">Адвокат</div>
					<div class="cols">
						<div class="col col-01">
							<div class="summary">
								<p>Кандидат политических наук, доцент, заместитель заведующего кафедрой международного права и публично-правовых дисциплин РААН.</p>
							</div><!--summary-->
						</div><!--col-->
						<div class="col col-02">
							<div class="skills">
								<ul class="items">
									<li class="item">Юридическая помощь при спорах со страховыми компаниями, возмещение убытков после пожара, правовое сопровождение строительного бизнеса.</li>
									<li class="item">Защита по уголовным делам экономической направленности.</li>
									<li class="item">Правовое сопровождение семейных отношений.</li>
								</ul>
							</div><!--skills-->
						</div><!--col-->
					</div><!--cols-->
				</div><!--about-member-->
				<div class="about-member">
					<div class="last-name">Лисицкий</div>
					<div class="first-name">Андрей Валентинович</div>
					<div class="position">Адвокат</div>
					<div class="cols">
						<div class="col col-01">
							<div class="summary">
								<p>Адвокатский стаж с 2014 года</p>
							</div><!--summary-->
						</div><!--col-->
						<div class="col col-02">
							<div class="skills">
								<ul class="items">
									<li class="item">Защита по уголовным делам, представление интересов в судах общей юрисдикции по гражданским делам.</li>
								</ul>
							</div><!--skills-->
						</div><!--col-->
					</div><!--cols-->
				</div><!--about-member-->
				<div class="about-member">
					<div class="last-name">Машовец</div>
					<div class="first-name">Андрей Александрович</div>
					<div class="position">Адвокат</div>
					<div class="cols">
						<div class="col col-01">
							<div class="summary">
								<p>Адвокатский стаж с 1999 года</p>
							</div><!--summary-->
						</div><!--col-->
						<div class="col col-02">
							<div class="skills">
								<ul class="items">
									<li class="item">Арбитражные споры, корпоративное право, договорное право, воздушное право, защита по уголовным делам.</li>
								</ul>
							</div><!--skills-->
						</div><!--col-->
					</div><!--cols-->
				</div><!--about-member-->
				<div class="about-member">
					<div class="last-name">Янковенко</div>
					<div class="first-name">Анатолий Васильевич</div>
					<div class="position">Адвокат</div>
					<div class="cols">
						<div class="col col-01">
							<div class="summary">
								<p></p>
							</div><!--summary-->
						</div><!--col-->
						<div class="col col-02">
							<div class="skills">
								<ul class="items">
									<li class="item">Защита по уголовным делам.</li>
								</ul>
							</div><!--skills-->
						</div><!--col-->
					</div><!--cols-->
				</div><!--about-member-->
				<div class="about-member">
					<div class="last-name">Лоло</div>
					<div class="first-name">Ида</div>
					<div class="position">Информационный партнер</div>
				</div><!--about-member-->
			</div><!--about-members-->
		</div><!--body-block-->
	</div><!--body-section-->
</div><!--body-group-->