<div class="body-group header header-bg active-contact" data-ng-include="'templates/header.html'"></div><!--body-group-->
<div class="body-group contact">
	<div class="body-section">
		<div class="body-block">
			<div class="cols">
				<div class="col col-01">
					<blockquote class="quote">
						<p>Чем&nbsp;больше штрихов, тем&nbsp;яснее картина.</p>
					</blockquote>
				</div><!--col-->
				<div class="col col-02">
					<form action="" class="contact-form">
						<div class="form-item form-item-01 error">
							<!--[if lte IE 9]><div class="title">Опишите в подробностях вашу проблему, мы постараемся помочь</div><![endif]-->
							<div class="value">
								<textarea id="contact-form-01" class="textarea" placeholder="Опишите в подробностях вашу проблему, мы постараемся помочь"></textarea>
							</div>
						</div><!--form-item-->
						<div class="form-item form-item-02">
							<!--[if lte IE 9]><div class="title">Оставьте любые свои контактные данные</div><![endif]-->
							<div class="value">
								<textarea id="contact-form-02" class="textarea" placeholder="Оставьте любые свои контактные данные"></textarea>
							</div>
						</div><!--form-item-->
						<div class="form-item form-item-03">
							<button class="button" type="submit">Отправить</button>
						</div><!--form-item-->
					</form>
				</div><!--col-->
			</div><!--cols-->
		</div><!--body-block-->
	</div><!--body-section-->
</div><!--body-group-->
<div class="body-group footer" data-ng-include="'templates/footer.html'"></div><!--body-group-->