<div class="body-section">
	<div class="body-block">
		<div class="cols">
			<div class="col col-01">
				<div class="header-logo">
					<a href="#/home" class="link">
							<span class="image-wrapper">
								<img src="images/header-logo.png" alt="GoldinGroup" class="image"/>
							</span><!--image-wrapper-->
						<span class="title">Goldin Group</span>
					</a>
				</div><!--header-logo-->
			</div><!--col-->
			<div class="col col-02">
				<div class="header-menu">
					<ul class="items">
						<li class="item item-about"><a href="#/about" class="link">Состав</a></li>
						<li class="item item-articles"><a href="#/articles" class="link">Статьи</a></li>
						<li class="item item-contact"><a href="#/contact" class="link">Связаться</a></li>
					</ul>
				</div><!--header-menu-->
			</div><!--col-->
		</div><!--cols-->
	</div><!--body-block-->
</div><!--body-section-->