<div class="body-group header" data-ng-include="'templates/header.html'"></div><!--body-group-->
<div class="body-group man" data-ng-include="'templates/man.html'"
     sn-skrollr
     data-0="opacity: 1;"
     data-100p="opacity: 0;">
	<div class="body-section"></div><!--body-section-->
</div><!--body-group-->
<div class="body-group home-screens">
	<div class="body-section home-screen home-screen-01"
	     sn-skrollr
	     data-0="opacity: 0; transform: translate(0%,0%);"
	     data-100p="opacity: 1; transform: translate(0%,-100%);"
	     data-200p="opacity: 0; transform: translate(0%,-110%);">
		<div class="body-block">
			<div class="image-wrapper"
			     sn-skrollr
			     data-0="opacity: 0; transform: translate(0%,100%);"
			     data-100p="opacity: 0.8; transform: translate(0%,0%);"
			     data-200p="opacity: 0; transform: translate(0%,-100%);">
				<img src="images/p1.gif" alt="" class="image"/>
			</div><!--image-wrapper-->
			<div class="cols">
				<div class="col col-01">
					<div class="letter">G</div>
					<blockquote class="quote">
						<p>GoldinGroup&nbsp;— адвокатское объединение, созданное в&nbsp;2006 году</p>
					</blockquote>
				</div><!--col-->
				<div class="col col-02">
					<div class="text">
						<p>Наш основатель&nbsp;— Геннадий Глебович Гольдин, доктор политических наук, профессор, заведующий кафедрой международного права и&nbsp;публично-правовых дисциплин Российской академии адвокатуры и&nbsp;нотариата.</p>
					</div>
				</div><!--col-->
			</div><!--cols-->
		</div><!--body-block-->
	</div><!--body-section-->
	<div class="body-section home-screen home-screen-02"
	     sn-skrollr
	     data-100p="opacity: 0; transform: translate(0%,0%);"
	     data-200p="opacity: 1; transform: translate(0%,-100%);"
	     data-300p="opacity: 0; transform: translate(0%,-110%);">
		<div class="body-block">
			<div class="image-wrapper"
			     sn-skrollr
			     data-100p="opacity: 0; transform: translate(0%,100%);"
			     data-200p="opacity: 0.8; transform: translate(0%,0%);"
			     data-300p="opacity: 0; transform: translate(0%,-100%);">
				<img src="images/p2.gif" alt="" class="image"/>
			</div><!--image-wrapper-->
			<div class="cols">
				<div class="col col-02">
					<div class="text">
						<p>Каждый из&nbsp;нас мастер в&nbsp;отдельных отраслях права, поэтому наша Группа универсальна.</p>
						<p>Мы можем считать себя гроссмейстерами адвокатуры, но&nbsp;довольствуемся официальными званиями кандидатов и&nbsp;докторов наук.</p>
					</div>
				</div><!--col-->
				<div class="col col-01">
					<div class="letter">К</div>
					<blockquote class="quote">
						<p>Каждый из&nbsp;нас мастер в&nbsp;отдельных отраслях права</p>
					</blockquote>
				</div><!--col-->
			</div><!--cols-->
		</div><!--body-block-->
	</div><!--body-section-->
	<div class="body-section home-screen home-screen-03"
	     sn-skrollr
	     data-200p="opacity: 0; transform: translate(0%,0%);"
	     data-300p="opacity: 1; transform: translate(0%,-100%);"
	     data-400p="opacity: 0; transform: translate(0%,-110%);">
		<div class="body-block">
			<div class="image-wrapper"
			     sn-skrollr
			     data-200p="opacity: 0; transform: translate(0%,100%);"
			     data-300p="opacity: 0.8; transform: translate(0%,0%);"
			     data-400p="opacity: 0; transform: translate(0%,-100%);">
				<img src="images/p3.gif" alt="" class="image"/>
			</div><!--image-wrapper-->
			<div class="cols">
				<div class="col col-01">
					<div class="letter">П</div>
					<blockquote class="quote">
						<p>Профессионализм для&nbsp;нас&nbsp;— сделать все безупречно, красиво и&nbsp;тихо</p>
					</blockquote>
				</div><!--col-->
				<div class="col col-02">
					<div class="text">
						<p>Так, чтобы оппонент пожал руку и&nbsp;признал несостоятельность своих претензий.</p>
						<p>Мы не&nbsp;воюем, а&nbsp;обезоруживаем. За&nbsp;столом переговоров или в&nbsp;суде наше главное средство&nbsp;— аргументы и&nbsp;уважительный тон. Эмоциями и&nbsp;пустым упрямством партии не&nbsp;выигрываются.</p>
					</div>
				</div><!--col-->
			</div><!--cols-->
		</div><!--body-block-->
	</div><!--body-section-->
	<div class="body-section home-screen home-screen-04"
	     sn-skrollr
	     data-300p="opacity: 0; transform: translate(0%,0%);"
	     data-400p="opacity: 1; transform: translate(0%,-100%);"
	     data-500p="opacity: 0; transform: translate(0%,-110%);">
		<div class="body-block">
			<div class="image-wrapper"
			     sn-skrollr
			     data-300p="opacity: 0; transform: translate(0%,100%);"
			     data-400p="opacity: 0.8; transform: translate(0%,0%);"
			     data-500p="opacity: 0; transform: translate(0%,-100%);">
				<img src="images/p4.gif" alt="" class="image"/>
			</div><!--image-wrapper-->
			<div class="cols">
				<div class="col col-02">
					<div class="text">
						<p>Исходим из&nbsp;того, что разумный и&nbsp;внутренне свободный человек по&nbsp;природе своей не&nbsp;стремится к&nbsp;злу. Нарушить правила игры, принятые здесь и&nbsp;сейчас, может каждый, но&nbsp;это не&nbsp;повод становиться заложником места и&nbsp;времени.</p>
						<p>Помогаем искать причины конфликтов в&nbsp;прошлом, чтобы управлять последствиями в&nbsp;будущем. Но для&nbsp;этого нужно быть честными и&nbsp;открытыми перед&nbsp;нами.</p>
						<p>Мы за&nbsp;ясность принципов. Вместо размытой гарантии конфиденциальности предпочитаем говорить просто: никто, никогда, ничего не&nbsp;узнает о&nbsp;наших доверителях. </p>
					</div>
				</div><!--col-->
				<div class="col col-01">
					<div class="letter">Н</div>
					<blockquote class="quote">
						<p>Никто, никогда, ничего не&nbsp;узнает о&nbsp;наших доверителях</p>
					</blockquote>
				</div><!--col-->
			</div><!--cols-->
		</div><!--body-block-->
	</div><!--body-section-->
	<div class="body-section home-screen home-screen-05"
	     sn-skrollr
	     data-400p="opacity: 0; transform: translate(0%,0%);"
	     data-500p="opacity: 1; transform: translate(0%,-100%);"
	     data-600p="opacity: 0; transform: translate(0%,-110%);">
		<div class="body-block">
			<div class="image-wrapper"
			     sn-skrollr
			     data-400p="opacity: 0; transform: translate(0%,100%);"
			     data-500p="opacity: 0.8; transform: translate(0%,0%);"
			     data-600p="opacity: 0; transform: translate(0%,-100%);">
				<img src="images/p5.gif" alt="" class="image"/>
			</div><!--image-wrapper-->
			<div class="cols">
				<div class="col col-01">
					<div class="letter">Д</div>
					<blockquote class="quote">
						<p>Довериться нам&nbsp;— значит на&nbsp;время стать частью команды</p>
					</blockquote>
				</div><!--col-->
				<div class="col col-02">
					<div class="text">
						<p>Довериться нам&nbsp;— значит на&nbsp;время стать частью команды, в&nbsp;которой мы определяем тактику, тренируем и&nbsp;ведем к&nbsp;победе. У нас нет скамейки запасных, работать нужно всем&nbsp;— четко, слаженно, с&nbsp;самоотдачей.</p>
						<p>Неважно, сколько задач возникнет по&nbsp;ходу действия и&nbsp;сколько новых испытаний пошлет судьба&nbsp;— будьте уверены, что мы с&nbsp;вами до&nbsp;победного конца. До&nbsp;финального свистка. До&nbsp;занавеса и&nbsp;аплодисментов.</p>
						<p>Если весь мир&nbsp;— театр, лучше каждому играть свою роль, не&nbsp;навязанную кем-то из&nbsp;смертных. И&nbsp;если в&nbsp;этой части мира правда за&nbsp;сильнейшим, мы станем вашей умной силой.</p>
					</div>
				</div><!--col-->
			</div><!--cols-->
		</div><!--body-block-->
	</div><!--body-section-->
	<div class="body-section home-screen home-screen-contact"
	     sn-skrollr
	     data-500p="opacity: 0; transform: translate(0%,0%);"
	     data-600p="opacity: 1; transform: translate(0%,-100%);">
		<div class="body-block">
			<div class="cols">
				<div class="col col-01">
					<div class="letter"></div>
					<blockquote class="quote">
						<p>Чем&nbsp;больше штрихов, тем&nbsp;яснее картина.</p>
					</blockquote>
				</div><!--col-->
				<div class="col col-02">
					<div class="text">
						<p>Опишите в&nbsp;подробностях вашу проблему, мы постараемся помочь.</p>
						<p><button type="button" class="button" data-ng-click="goContact()">Связаться</button></p>
					</div>
				</div><!--col-->
			</div><!--cols-->
		</div><!--body-block-->
	</div><!--body-section-->
</div><!--body-group-->
<div id="home-nav" class="body-group home-nav">
	<ul class="items">
		<li class="item">
			<a href="#home-screen-intro" class="link"
			   du-smooth-scroll
			   du-scrollspy
			   sn-skrollr
			   data-0="font-size: 200%;"
			   data-100p="font-size: 100%;">&bull;</a>
		</li>
		<li class="item">
			<a href="#home-screen-01" class="link"
			   du-smooth-scroll
			   du-scrollspy
			   sn-skrollr
			   data-0="font-size: 100%;"
			   data-100p="font-size: 200%;"
			   data-200p="font-size: 100%;">I</a>
		</li>
		<li class="item">
			<a href="#home-screen-02" class="link"
			   du-smooth-scroll
			   du-scrollspy
			   sn-skrollr
			   data-100p="font-size: 100%;"
			   data-200p="font-size: 200%;"
			   data-300p="font-size: 100%;">II</a>
		</li>
		<li class="item">
			<a href="#home-screen-03" class="link"
			   du-smooth-scroll
			   du-scrollspy
			   sn-skrollr
			   data-200p="font-size: 100%;"
			   data-300p="font-size: 200%;"
			   data-400p="font-size: 100%;">III</a>
		</li>
		<li class="item">
			<a href="#home-screen-04" class="link"
			   du-smooth-scroll
			   du-scrollspy
			   sn-skrollr
			   data-300p="font-size: 100%;"
			   data-400p="font-size: 200%;"
			   data-500p="font-size: 100%;">IV</a>
		</li>
		<li class="item">
			<a href="#home-screen-05" class="link"
			   du-smooth-scroll
			   du-scrollspy
			   sn-skrollr
			   data-400p="font-size: 100%;"
			   data-500p="font-size: 200%;"
			   data-600p="font-size: 100%;">V</a>
		</li>
		<li class="item">
			<a href="#home-screen-contact" class="link"
			   du-smooth-scroll
			   du-scrollspy
			   sn-skrollr
			   data-500p="font-size: 100%;"
			   data-600p="font-size: 200%;">&bull;</a>
		</li>
	</ul>
</div><!--body-group-->
<div class="body-group home-spacers">
	<div class="body-section home-spacer">
		<div class="body-block">
			<a id="home-screen-intro"></a>
		</div><!--body-block-->
	</div><!--body-section-->
	<div class="body-section home-spacer">
		<div class="body-block">
			<a id="home-screen-01"></a>
		</div><!--body-block-->
	</div><!--body-section-->
	<div class="body-section home-spacer">
		<div class="body-block">
			<a id="home-screen-02"></a>
		</div><!--body-block-->
	</div><!--body-section-->
	<div class="body-section home-spacer">
		<div class="body-block">
			<a id="home-screen-03"></a>
		</div><!--body-block-->
	</div><!--body-section-->
	<div class="body-section home-spacer">
		<div class="body-block">
			<a id="home-screen-04"></a>
		</div><!--body-block-->
	</div><!--body-section-->
	<div class="body-section home-spacer">
		<div class="body-block">
			<a id="home-screen-05"></a>
		</div><!--body-block-->
	</div><!--body-section-->
	<div class="body-section home-spacer">
		<div class="body-block">
			<a id="home-screen-contact"></a>
		</div><!--body-block-->
	</div><!--body-section-->
</div><!--body-group-->