/* Forms */

.input-text,
.select,
.textarea {
	background: #fff;
	border: 1px solid #ccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	height: 2.4em;
	line-height: 2.4;
	padding: 0 0.4em;
	width: 100%;
}

.input-text:hover,
.select:hover,
.textarea:hover,
.input-text:focus,
.select:focus,
.textarea:focus {
	border-color: #ADC400;
	-webkit-box-shadow: 0 0 3px rgba(173,196,0,0.5);
	-moz-box-shadow: 0 0 3px rgba(173,196,0,0.5);
	box-shadow: 0 0 3px rgba(173,196,0,0.5);
	outline: none;
}

.select {
	padding-right: 0;
}

.textarea {
	height: 14em;
	line-height: 1.4;
}

.input-text.datepicker {
	/*view background-image settings in 'icons' stylesheet*/
	background-position: 90% 50%;
	background-repeat: no-repeat;
}

.datepicker-wrapper {
	position: relative;
}/* always use this as a parent for .input-text.datepicker */

.select.select2 {
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 0;
}

/* end of Forms */