/* Header */

.header {
	background: #fff;
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 8px rgba(0,0,0,0.3);
	box-shadow: 0 0 8px rgba(0,0,0,0.3);
	position: relative;
	z-index: 1;
}

.header > .cols > .col {
	padding: 1em;
	vertical-align: middle;
}

.header > .cols > .col_01 {}

.header > .cols > .col_02 {
	text-align: center;
}

.header > .cols > .col_03 {
	text-align: right;
}

.header > .cols > .col_03 > * {
	display: inline-block;
	vertical-align: middle;
}

.header > .cols > .col_03 > * + * {
	margin-left: 2em;
}

.header-icons .icon + .icon {
	margin-left: 0.5em;
}

.header-logo {
	display: inline-block;
	white-space: nowrap;
}

.header-logo .link {
	display: block;
	color: inherit;
	text-decoration: none;
}

.header-logo .icon {
	margin-right: 20px;
}

.header-logo .text {
	font-size: 200%;
	font-weight: bold;
	vertical-align: middle;
}

.header-user > * {
	display: inline-block;
	vertical-align: middle;
}

.header-user .image-wrapper {
	background: #eee;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	height: 0;
	overflow: hidden;
	padding: 0 0 28px;
	width: 28px;
}

.header-user .image {
	display: block;
	width: 100%;
}

.header-user .name {
	padding-left: 0.5em;
}

/* end of Header */